body {
  background-color: #b9f7af;
}

hr {
  color: #01bc46;
  border-top: 3px solid;
  width: 250px;
}

.jumbotron {
  background-image: url('../img/web-design.jpg');
  background-position: center;
  background-size: cover;
  color: #01bc46;
  height: 350px;
  padding-top: 30px;
}

.jumbotron h1, .jumbotron p {
  text-shadow: 1px 1px 10px #10331d;
}

.jumbotron img {
  border: 5px solid #01bc46;
  height: 200px;
  width: 200px;
}

section {
  min-height: 600px;
}

section h2 {
  color: #01bc46;
  text-shadow: 1px 1px 3px #10331d;
}
