body {
  background-color: #b9f7af;
}

hr {
  color: #01bc46;
  border-top: 3px solid;
  width: 250px;
}

section {
  min-height: 600px;
}

section h2 {
  color: #01bc46;
  padding-top: 30px;
  text-shadow: 1px 1px 3px #10331d;
}

.desc {
  padding-top: 10px;
  text-align: center;
}

.jumbotron {
  background-image: url('../img/web-design.jpg');
  background-position: center;
  background-size: cover;
  color: #01bc46;
  height: 350px;
  padding-top: 30px;
}

.jumbotron h1, .jumbotron p {
  text-shadow: 1px 1px 10px #10331d;
}

.jumbotron img {
  border: 5px solid #01bc46;
  height: 200px;
  width: 200px;
}

#about {
  /* background-color: #10331d; */
  /* background-color: #e1f7de; */
  /* color: #e1f7de; */
}

#port {
  background-color: #10331d;
  /* color: #e1f7de; */
  color: #01bc46;
  padding-bottom: 50px;
}

#porto {
  padding-top: 40px;
}
