body {
  font-family: 'Montserrat';
}

@media (min-width : 992px) {

  .jumbotron {
    background-image: url('img/dp_all.png');
    color: #0D4095;
    height: 768px;
    text-align: center;
    text-shadow: 1px 1px 3px #000000;
  }

  .jumbotron .ques {
    font-size: 52px;
    font-weight: lighter;
  }

  .jumbotron .ques span {
    font-weight: 500;
  }

  .jumbotron .solusi {
    font-size: 42px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .jumbotron .solusi span {
    font-weight: bold;
  }

  .jumbotron p img {
    height: 120px;
  }

  .jumbotron .desc {
    font-size: 22px;
    margin-top: -20px;
  }

  .jumbotron .tombol {
    background-color: #E90073;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 26px;
    font-weight: bold;
    margin-top: 30px;
    padding: 10px 10px 10px 10px;
  }



  .interest {
    color: #0D4095;
    font-size: 32px;
    margin-bottom: 50px;
  }

  .mengapa {
    background-color: #c8c8c8;
    margin-top: 100px;
  }

  .mengapa h2 {
    margin-top: 100px;
  }
}
